{% extends 'base.html' %}

{% block content %}
<h1>Pets</h1>
<div class="container">
    <div class="row align-items-start">
        {% for pet in pets %}
        <div class="card m-2 " style="width: 18rem;">
            <img src=" {{pet.photo_url}}" class="card-img-top mt-2" alt="">
            <div class="card-body">
                <a href="/{{pet.id}}">{{pet.name}}</a>
                {% if pet.available %}<b>is available!</b>{% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
    <a href=" /add"><button type="button" class="btn btn-info">Add a Pet</button></a>
</div>
{% endblock %}